
<section>

<% if @current_user.submissions.present? %>

  <table id="user-submissions-table">
    <tr>
      <th>Film</th>
      <th>Status</th>
      <th>Status timestamp</th>
      <th>Date submitted</th>
    </tr>
       <% @current_user.submissions.order(created_at: :desc).each do |submission| %>
    <tr>
      <td id="submission-title">
        <%= link_to user_submission_path(submission) do %>
        <%= submission.title %>
        <% end %>
      </td>
      <td>
        <%= link_to user_submission_path(submission) do %>
        <%= submission.status %>
        <% end %>
      </td>
      <td>
        <%= link_to user_submission_path(submission) do %>
        <%= submission.updated_at.strftime("%H:%M UTC, %m-%d-%Y")%>
        <% end %>
      </td>
      <td>
        <%= link_to user_submission_path(submission) do %>
        <%= submission.created_at.strftime("%b %e, %Y") %>
        <% end %>
      </td>
    </tr>
        <% end %>
  </table>


  <% else %>

<h4>You don't have any active submissions...</h4>



<% end %>


</section>
