<section class="log-in">



  <%= simple_form_for :session, html: { class: "hide-required" }, url: session_path do |f| %>
   <%= f.error_notification %>
  <%= f.input :email, placeholder: 'Enter your email' %>
  <%= f.input :password, placeholder: 'Enter your password', :class => "password_optional" %>
  <%= f.button :submit, "Sign in", :class => "sign-in-button" %>

  <% end %>




<div class="new-account">
    Don't have an account? <%= link_to "Join the sink", new_user_path, :class => "create-account" %>
</div>

</section>
