<h2>Log in</h2>

<%= simple_form_for :session, url: session_path do |f| %>

<%= f.input :username %>
<%= f.input :password %>
<%= f.button :submit, "Sign in" %>

<% end %>

<%= link_to "Create an account", new_user_path %>
