


<%= content_tag :div, id: dom_id(comment), class: 'comment' do %>
  <span><%= image_tag comment.user.avatar.thumbnail.url, class: "avatar" %> </span>
    <strong><%= comment.user.username %></strong>
    <p><%= comment.body %></p>


  <div class='links'><small>
    <%= link_to 'Reply', [:new, comment, :comment], remote: true %>

  </small></div>

  <%= render 'comments/form', commentable: comment, comment: Comment.new %>
  <%= render comment.comments %>
<% end %>
