<div class="comment-container">

  <div class="comment-user">
    <% if comment.user_id.present? %>
    <u>
  <%= link_to comment.user.username, user_path(comment.user) %>
  </u>
  <% end %>
  <span><small> says: </small></span>
  </div>
  <div class="comment-body">
    <p> <%= simple_format comment.body %></p>
    <p class="comment-timestamp">posted <%= time_ago_in_words(comment.created_at) %> ago</p>
  </div>



  </div>

 <% if is_logged_in? %>

  <%= form_for [@film, @review, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply"  %>
      <% end %>

      <% else %>




      <% end %>



<div class="nested">
  <%= render partial: 'comments/comment', collection: comment.comments %>
</div>
