
<section class="blog-intro">
<h5>Drips from the faucet...</h5>
<p>Featuring articles and op-ed's by guest writers </p>
</section>

  <% @blog_posts.each do |blog_post| %>
<ul>
    <%= link_to blog_post_path(blog_post) do %>
  <li>
    <div class="blog-post-cover-wrapper">
    <div class="blog-description">
        <%= image_tag blog_post.cover.blog_cover.url, :class => "cover_blog_img" %>
    </div>
    <div class="blog-description">
      <h5><%= blog_post.title %></h5>
        <p class="blog-descriptor"> <%= blog_post.description... %></p>
        <div class="eyeglass">
            <%= image_tag "eyeglass.svg", :class => "eyeglass" %> <span class="read">Read article</span>
        </div> <br>
         <span class="author"> By <%= blog_post.author %></span> <span class="published"> Published: <%= blog_post.publish_date %></span>
    </div>
    </div>
  </li>

  <% end %>
</ul>
  <% end %>
