


<div class="back-to-blog-index">
  <%= link_to blog_posts_path do %>
    <span><%= image_tag "BackArrow1.svg" %> </span><h3>Back to blog index</h3>
  <% end %>
</div>

 <section class="blog-body">
   <h2><%= @blog_post.title %></h2>
   <div class="blog-author-date">
     <%= image_tag @blog_post.cover.show.url %>
     <h6>By <%= @blog_post.author %></h6>
     <h6> Published: <%= @blog_post.publish_date %> </h6>
   </div>
   <div class="blog-body-p">
       <p><%= simple_format @blog_post.body %></p>
   </div>
 </section>
