


<div class="back-to-blog-index">
  <%= link_to blog_posts_path do %>
    <span><%= image_tag "BackArrow1.svg" %> </span><h3>Back to blog index</h3>
  <% end %>
</div>



 <section class="blog-body">
   <h2><%= @blog_post.title %></h2>
   <div class="blog-author-date">
     <%= image_tag @blog_post.cover.show.url %>
     <h6>By <%= @blog_post.author %></h6>
     <h6> Published: <%= @blog_post.publish_date %> </h6>
   </div>
   <div class="blog-body-p">
       <p><%= simple_format @blog_post.body %></p>
   </div>
 </section>

<% if is_logged_in? %>

<p><%= render 'comments/form', commentable: @blog_post, comment: Comment.new %></p>
 <%= link_to "Add Comment", new_blog_post_comment_path(@blog_post), remote: true %>

 <% else %>

 <p><%= link_to "Sign in to comment", new_session_path  %></p>

 <% end %>

 <h5>Comments</h5>
 <div id='comments'>
   <%= render @blog_post.comments %>
 </div>
