<div class="notification-box">
<%= link_to main_app.user_path(notification.actor) do %>
  <div class=''>
    <% if notification.actor.avatar.present? %>
      <span class="avatar-notification"><%= image_tag notification.actor.avatar.thumbnail.url, :class => "avatar" %></span>
      <% else %>
      <span class="avatar-notification"><%= image_tag notification.actor.avatar.thumbnail.url, :class => "avatar_small" %></span>
    <% end %>
    <%= notification.actor.username %>
  <% end %>
        responded

    <% if notification.target %>
      <% if notification.target.body.present?
           obj = get_commentable_obj(notification.target)
      %>
        <% if obj.is_a?(BlogPost) %>
          to your comment in <span>blog article <%= obj.title %></span>
          <span class="comment-notification"><i><%= link_to notification.target.body, "/blog/#{obj.title.downcase.parameterize}" %></i></span>
        <% elsif obj.is_a?(Review) %>
          to your <%= @current_user == obj.user && notification.target.commentable_type == "Review" ?  "" : "comment in" %><span> review <%= obj.title %></span>
          <span><i><%= link_to notification.target.body, "/films/#{obj.film.title.downcase.parameterize}/cafe/#{obj.title.downcase.parameterize}" %> </i></span>
        <% end %>
      <% else %>
        <% nil %>
      <% end %>
    <% else %>
      <% nil %>
    <% end %>

  </div>



</div>
