

<div class="email-step">

  <p>Are you ready to enter the sink? This is the final step...</p>


<div class="final-details">
  <%= f.input :email, placeholder: 'Enter email' %>
  <%= f.input :password, placeholder: 'Enter password (min. 8 characters)' %>
  <%= f.input :password_confirmation, placeholder: 'Confirm password' %>
<div class="newsletter-box">
  <%= f.input :newsletter, inline_label: "Oui, Keep me in the loop with the TimeSink newsletter", :input_html => { :class => "newsletter" } %>
</div>
</div>
<div class="join-button-flex" style="display: flex; justify-content: space-between;">
  <%= f.button :submit, "Back", :class => "back-button", :name => "back_button" %>
  <%= f.button :submit, "Join the sink!", id: "join-sink-btn" %>
</div>


  <div class="agree">
    By joining the sink, you agree to TimeSink's <br> <%= link_to terms_path do %> <u> Terms </u> <% end %> and <%= link_to privacy_policy_path do %> <u>Privacy Policy</u> <% end %>
  </div>

  </div>
