

<div class="email-step">


  <%= f.input :email, placeholder: 'Enter email (i.e. address@email.com)' %>
  <%= f.input :password, placeholder: 'Enter password' %>
  <%= f.input :password_confirmation, placeholder: 'Confirm password' %>
  <%= f.input :newsletter, :inline_label => "Oui, keep me in the loop with TimeSink newsletters", :input_html => { :class => "newsletter" } %>
  <%= f.button :submit, "Join the sink" %>


  <div class="agree">
    By joining the sink, you agree to TimeSink's <br> <u>Terms</u> and <u>Privacy Policy</u>
  </div>

  </div>
