
<h3>Join the sink!</h3>

<%= simple_form_for @user do |f| %>
 <%= f.error_notification %>
<%= f.input :name %>
<%= f.input :username %>
<%= f.input :email %>
<%= f.input :password %>
<%= f.input :password_confirmation %>

<%= f.button :submit, "Join the sink" %>

<% end %>


<div class="already-sign-in">
    Already have an account? <%= link_to "Sign in", new_session_path, :class => "sign-in-from-new-account" %>
</div>

<div class="agree">
  By joining the sink, you agree to TimeSink's Terms and Privacy Policy
</div>
