
<div class="flex-signup">

<div class="join-the-sink">


<%= simple_form_for @user do |f| %>
 <%= f.error_notification %>
  <%= render "#{@user.current_step}_step", :f => f %>
 <%= f.button :submit, "Back", :class => "back-button", :name => "back_button" unless @user.first_step? %>
  <%= f.button :submit, "Next", :name => "continue_button" unless @user.last_step? %>

<% end %>

</div>



<% if @user.first_step? %>

<div class="already-sign-in">
<%= already %> <%= link_to 'Sign in', new_session_path %>
</div>

<% end %>

</div>
