
<section class="user-profile" style="height: 60vh;">
  <h2>User profile</h2>

  <% if @user.avatar.present? %>
  <p><%= image_tag @user.avatar.show.url, :class => "avatar"%>
<% end %>

  <p><%= @user.location %></p>
  <p><%= @user.name %></p>
  <p><%= @user.email %></p>

  <span><%= image_tag "Polygon2.svg", :class => "upvote-shape" %></span>
  <%= @user.sum(@user.review_likes, @user.comment_likes) %>

</section>
