<h2>Film submission</h2>
<h3>$10</h3>


<%= simple_form_for [@submission] do |f| %>
    <%= f.input :title, label: "Title of film" %>
    <%= f.input :year, label: "Release year" %>
    <%= f.input :film_length, label: "Film duration" %>
    <%= f.input :description, label: "Tell us what your film is about in one sentence" %>
    <%= f.input :film_link, label: "Please attach a link to your film" %>
    <%= f.input :film_pw, label: "Password to film if link is private" %>

    <div id="card-errors">
      <% @submission.errors[:stripe_token].each do |message| %>
<p class="error"><%= message %></p>
<% end %>
    </div>

    <div id="card">

    </div>

    <%= f.submit "Submit your film"  %>

<% end %>


<script>
  var stripe = Stripe("<%= Rails.application.credentials[Rails.env.to_sym][:stripe_public_key]%>")


  // load the fonts in
var fonts = [
{
  cssSrc: "https://fonts.googleapis.com/css?family=Karla"
}
]


  // styles for the stripe inputs
 var styles = {
   base: {
     iconColor: "#cccccc",
     color: "#ffffff",
     fontFamily: "Karla, Helvetica, Arial, sans-serif",
     fontSize: "16px",

     "::placeholder": {
       color: "#cccccc"
     },
     ":-webkit-autofill": {
       color: "#cccccc"
     }
   },
   invalid: {
     iconColor: "#FFC7EE",
     color: "#A31621"
   }
 }


  var elements = stripe.elements();
  var card = elements.create("card", {style: styles })
    card.mount("#card")

  $("form.new_submission").on("submit", function (ev) {
        ev.preventDefault()

          stripe.createToken(card).then(function (result) {

            if (result.error) {
              $("#card-errors").html(result.error.message)
            } else {
                $("form.new_submission").append("<input type=hidden name='submission[stripe_token]' value=" + result.token.id + ">")
                $("form.new_submission").get(0).submit()
            }
          })
  })
</script>
