<h2>Film submission</h2>
<h3>$10</h3>


<form class="" action="/submissions" method="post" id="new_submission">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>


<%= simple_form_for [@submission] do |f| %>
    <%= f.hidden_field :stripe_payment_id, id: 'payment' %>
    <%= f.input :title, label: "Title of film" %>
    <%= f.input :year, as: :select, collection: 2016..Date.today.year, label: "Release year", label_html: { class: 'year_class' } %>
    <%= f.input :film_length, label: "Film duration" %>
    <%= f.input :description, label: "Tell us what your film is about in one sentence" %>
    <%= f.input :film_link, label: "Please attach a link to your film" %>
    <%= f.input :film_pw, label: "Password to film if link is private" %>

    <div id="card-errors">
      <% @submission.errors[:stripe_token].each do |message| %>
<p class="error"><%= message %></p>
<% end %>
    </div>

    <div id="card">

    </div>

    <%= f.submit "Submit your film"  %>

<% end %>


<script>
  var stripe = Stripe("<%= Rails.application.credentials[Rails.env.to_sym][:stripe_public_key]%>")


  // load the fonts in
var fonts = [
{
  cssSrc: "https://fonts.googleapis.com/css?family=Karla"
}
]


  // styles for the stripe inputs
 var styles = {
   base: {
     iconColor: "#cccccc",
     color: "#ffffff",
     fontFamily: "MonumentGroteskTrial-Regular",
     fontSize: "16px",

     "::placeholder": {
       color: "#cccccc"
     },
     ":-webkit-autofill": {
       color: "#cccccc"
     }
   },
   invalid: {
     iconColor: "#FFC7EE",
     color: "#A31621"
   }
 }


  var elements = stripe.elements();
  var card = elements.create("card", {style: styles })
    card.mount("#card")

    const form = document.querySelector('#new_submission');
    form.addEventListener('submit', function(e){
      e.preventDefault();
      // Step 1: POST request to create payment intent
      fetch('/payment-intents', {
        method: 'POST',
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          authenticity_token: '<%= form_authenticity_token %>',
        }),
      })
        .then((response) => response.json())
        .then((paymentIntent) => {
          // Step 2: Create payment method and confirm payment intent
          stripe.confirmCardPayment(
          paymentIntent.client_secret, {
             payment_method: {
               card: cardElement
             }
           }
         ).then((resp) => {
           if(resp.error) {
             alert(resp.error.message);
           } else {
             // Step 3: Embed payment id in form
             const paymentIdInput = document.querySelector('#payment')
             paymentIdInput.value = paymentIntent.id;
             form.submit();
           }
         })
        })
        .catch((error) => {
          console.error('Error:', error);
        });

    });






</script>
