
<div class="film-gallery-grid">

  <div class="film-item">

  <% @films.each do |film| %>

  <%= link_to film_path(film) do %>
    <div class="cover-img">
    <%= image_tag film.cover.gallery.url, :class => "cover_img" %>
    </div>
    <% end %>

    <div class="gallery-components">
      <h3><%= film.title %></h3>
      <h3><%= film.author %></h3>
      <h3><%= film.description %></h3>
    </div>

    <% end %>
    </div>
</div>
