<div class="ticker-wrap">
<div class="ticker">
  <div class="ticker__item">A NEW FILM BY RANDY SMORGA IS NOW PLAYING </div>
  <div class="ticker__item">TIMESINK PRESENTS, LIVE: 11pm EST </div>
  <%= link_to new_submission_path do %>
  <div class="ticker__item">SUBMISSIONS ARE NOW OPEN! </div>
      <% end %>
      <div class="ticker__item">KANYE WEST ANNOUNCES NEW ALBUM</div>
      <div class="ticker__item">MOVIE THEATER TICKET SALES CONTINUE TO DECLINE</div>
</div>
</div>


<div class="film-gallery-grid">

<ul>
    <% @films.each do |film| %>

    <li>
      <%= link_to film_path(film) do %>
        <div class="cover-img">
        <%= image_tag film.cover.gallery.url, :class => "cover_img" %>
        </div>


        <div class="gallery-components">
          <h3><%= film.title %></h3>
          <h3><%= film.description %></h3>
            <h3><%= film.author %></h3>

            <div class="coffee-review-metric">

              <%= image_tag "coffee.svg", :class => "coffee" %> <span class="reviews-number"><%= pluralize film.reviews.count, "Review" %> </span>

            </div>

            <% if film.is_top_pick %>
            <div class="ribbon">
              <%= image_tag "is_featured.svg" %>
            </div>
            <% end %>

            <% end %>
    </li>
  <% end %>




</ul>


</div>
