<%= render "shared/ticker" %>



   <section class="animation">
     <!-- drawing goes here -->
     <p> <i>Moving Arrows</i> by Jasper Ritsky, 2020</p>
   </section>




    <div class="film-gallery-grid">

    <% @films.each do |film| %>

    <div class="film-item">

      <%= link_to film_path(film) do %>
        <div class="cover-img">
        <%= image_tag film.cover.gallery.url, :class => "cover_img" %>
        </div>

<div class="film-grid">
  <div class="title">
      <h3><%= film.title %></h3>
      <h3><%= film.description %></h3>
      <h3><%= film.author %></h3>
  </div>

  <%= link_to like_film_path(film), method: :put do %>
  <%= image_tag "Polygon2.svg" %>
  <% end %>

  <%= link_to "downvote", unlike_film_path(film), method: :put %>
  <%= film.score %>


</div>



        <% end %>

      </div>








  <% end %>
</div>



<%= javascript_pack_tag 'utils' %>
<%= javascript_pack_tag 'two_min' %>
<%= javascript_pack_tag 'script' %>
