<div class="flex flex-wrap flex-row lg:grid lg:grid-cols-3 items-center gap-y-12 gap-x-16 mx-auto">
  <% @films.order(cached_votes_up: :desc, created_at: :desc).each do |film| %>
    <div>
      <%= link_to film_path(film) do %>
        <div class="block">
          <%= image_tag film.cover.gallery.url, :class => "cover_img" %>
        </div>
        <div class="flex justify-between">
          <div class="mt-4">
            <h3 class="text-xl"><%= film.title %></h3>
            <h3 class="text-base"><%= film.description %></h3>
            <h3 class="text-sm"><%= film.author %></h3>
          </div>
        <% end %>
        <div class="flex justify-between items-center w-8">
          <div class="">
            <%= link_to like_film_path(film.id), class: "upvoted {liked_or_not}", method: :put, remote: :true do %>
              <%= image_tag "Polygon2.svg", :class => "upvote-shape" %>
            <% end %>
          </div>
          <div class="text-lg">
            <span id="js-<%= film.id %>">
              <%= film.get_likes.size %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= javascript_pack_tag 'utils' %>
<%= javascript_pack_tag 'two_min' %>
<%= javascript_pack_tag 'script' %>
