<%= render "shared/ticker" %>




<div class="back-to-films">
  <%= link_to films_path do %>
  <i class="arrow left"></i>
  <h3>Back to film gallery</h3>
  <% end %>
</div>


<section class="film-show-grid">

    <div class="film-show-img" onclick="toggle();">
  <%= image_tag @film.cover.show.url %>
  </div>

  <div class="film-show-info">
    <div class="">
      <%= @film.title %> <br>
      <%= @film.author %> <br>
      <%= @film.description %> <br>
    </div>
    <div class="">
      <% if @film.is_top_pick %>
      <div class="show-page">
        <%= image_tag "is_featured.svg" %>
      </div>
      <% end %>
    </div>

  </div>

</section>


              <div class="popupfilm" id="filmPopUp">
                <span class="">
                  <%= video_tag @film.video_url.to_s, :size => "640x480", :controls =>true, :class => "video" %>
                  <span class="close" onclick="toggle();"><%= image_tag "EXIT.svg" %></span>
                </span>
              </div>



<%= image_tag "cornerreviews2.svg", :class => "cornercafereview" %>


      <%= link_to new_film_review_path(@film) do %>
      <%= image_tag "post.svg", :class => "new-review-post" %>
      <% end %>


<% @film.reviews.order("created_at desc").each do |review| %>


  <div class="review">
      <%= link_to film_review_path(@film, review) do %>
    <h6 class="review-title"><%= review.title %></h6>
    <% end %>

<div class="">
  <p class="review-comment-count"><%= pluralize review.comments.count, "Comment" %></p>
</div>


    <div class="review-details">
      <p> Rating <%= review.score %> / 5</p>


      <p class="posted">
        <small>Published by

        <%= link_to review.user.username, user_path(review.user) %> <%= time_ago_in_words(review.created_at) %> ago</small>
          </p>

    </div>

  </div>

      <% end %>



                <script type="text/javascript">
                  function toggle() {
                    var popupfilm= document.querySelector(".popupfilm")
                    popupfilm.classList.toggle("active")
                  }

                </script>
