<%= render "shared/ticker" %>




<div class="back-to-films">
  <%= link_to films_path do %>
  <span><%= image_tag "BackArrow1.svg" %> </span><h3 class="back-to-gallery">Back to film gallery</h3>
  <% end %>
</div>



<section class="film-show-grid">

    <div class="film-show-img" onclick="toggle();">
  <%= image_tag @film.cover.show.url %>
  </div>

  <div class="film-show-info">
    <span><% if @film.is_top_pick %>
     <%= image_tag "is_featured.svg", :class => "top-pick-show" %>
   <% end %></span>

   <div class="liking-target">
   <%= link_to like_film_path(@film), class: "upvoted {liked_or_not}", method: :put, remote: :true do %>
  <%= image_tag "Polygon2.svg" %>
    <% end %>
    <span class="like_count">
      <%= @film.get_likes.size %>
    </span>

    <span> Views <%= @film.impressionist_count(:filter=>:ip_address) %></span>

      </div>


    <div class="">
      <h2 class="film-title"><%= @film.title %></h2>
      <h6 class="film-author"><%= @film.author %></h6> <span><%= @film.description %></span>
      <p class="film-description"><%= @film.description_body %></p>
    </div>
    <div class="play-button" onclick="toggle();">
      <span> Play </span> <%= image_tag "play.svg", :class => "play-symbol" %>
    </div>
    <div class="preview-button" onclick="toggle();">
      Trailer
    </div>
    <%= link_to film_reviews_path(@film) do %>
    <div class="write-review-button">
      Café talk
    </div>
    <% end %>






  </div>

</section>


              <div class="popupfilm" id="filmPopUp">
                <span class="">
                  <%= video_tag @film.video_url.to_s, :controlsList => "nodownload", :size => "960x540", :controls =>true, :class => "video" %>
                  <span class="close" onclick="toggle();"><%= image_tag "EXIT.svg" %></span>
                </span>
              </div>




                <script type="text/javascript">
                  function toggle() {
                    var popupfilm= document.querySelector(".popupfilm")
                    popupfilm.classList.toggle("active")
                  }

                </script>
