<%= render "shared/ticker" %>


<section data-barba="container">




<div class="back-to-films">
  <%= link_to films_path do %>
  <span><%= image_tag "BackArrow1.svg" %> </span><h3 class="back-to-gallery">Back to film gallery</h3>
  <% end %>
</div>



<section class="film-show-grid">

    <div class="film-show-img" onclick="toggle();">
  <%= image_tag @film.cover.show.url %>
  </div>

  <div class="film-show-info">
    <span><% if @film.is_top_pick %>
     <%= image_tag "is_featured.svg", :class => "top-pick-show" %>
   <% end %></span>

  <span class="liking-target">
       <%= link_to like_film_path(@film), class: "upvoted {liked_or_not}", method: :put, remote: :true do %>
       <%= image_tag "Polygon2.svg", :class => "polygon" %>
        <% end %>
        <span class="like_count">
          <%= @film.get_likes.size %>
        </span>
  </span>


    <span class="views">
    <%= image_tag "view.svg", :class => "eyeball" %>
    <%=  @film.hits %>
    <span class="impressions"></span>
    </span>




    <div class="">
      <h2 class="film-title"><%= @film.title %></h2>
      <h6 class="film-author"><%= @film.author %></h6> <span><%= @film.description %></span>
      <p class="film-description"><%= @film.description_body %></p>
    </div>
    <div class="play-button" onclick="toggle();">
      <span> Play </span> <%= image_tag "play.svg", :class => "play-symbol" %>
    </div>
    <div class="preview-button" onclick="toggleTrailer();">
      Trailer
    </div>
    <%= link_to film_reviews_path(@film) do %>
    <div class="cafe-talk-button">
      Café talk
    </div>
    <% end %>






  </div>

</section>
</section>


              <div class="popupfilm" id="filmPopUp">
                <span class="">
                  <video-js controls autoplay preload data-setup='{"liveui": true}' class="vjs-big-play-centered" width=960 height=540>
                    <source src="<%= @film.video_url.to_s %>" >
                  </video-js>
                  <span class="close" onclick="toggle();"><%= image_tag "EXIT.svg" %></span>
                </span>
              </div>

              <div class="popuptrailer" id="popuptrailer">
                <span>
                  <video-js controls autoplay preload data-setup='{"liveui": true}' class="vjs-big-play-centered" width=960 height=540>
                  <source src="<%= @film.trailer_url.to_s %>" >
                  </video-js>
              <span class="close" onclick="toggleTrailer();"><%= image_tag "EXIT.svg" %></span>
                </span>
            </div>



                <script type="text/javascript">
                  function toggle() {
                  var popupfilm= document.querySelector(".popupfilm")
                  popupfilm.classList.toggle("active")
                }
              </script>

             <script type="text/javascript">
               function toggleTrailer() {
               var trailer= document.querySelector(".popuptrailer")
               trailer.classList.toggle("active")
             }
              </script>


              <script>
                $(function(){
  var $refreshButton = $('#refresh');
  var $results = $('#css_result');

  function refresh(){
    var css = $('style.cp-pen-styles').text();
    $results.html(css);
  }

  refresh();
  $refreshButton.click(refresh);

  // Select all the contents when clicked
  $results.click(function(){
    $(this).select();
  });
});

              </script>
