
<div class="back-to-films">
  <%= link_to films_path do %>
  <i class="arrow left"></i>
  <h3>Back to film gallery</h3>
  <% end %>
</div>



            <% if @film.is_top_pick %>
            <div class="show-page">
              <%= image_tag "is_featured.svg" %>
            </div>
            <% end %>

<div class="film-show-img">
  <%= video_tag @film.video_url.to_s, :size => "640x480", :controls =>true %>

  <%= image_tag @film.cover.show.url %>
</div>


<%= @film.title %>
<%= @film.description %>
<%= @film.author %>

<p id="film" class="reviews-title">Reviews</p>

<% @film.reviews.order("created_at desc").each do |review| %>


  <div class="review">
      <%= link_to film_review_path(@film, review) do %>
    <h3 class="review-title"><u><%= review.title %></h3></u>
    <% end %>
    <h4> Rating <%= review.score %> / 5</h4>


    <p class="posted">
      Published by

      <%= link_to review.user.username, user_path(review.user) %>
        </p>

  </div>

      <% end %>


      <%= link_to new_film_review_path(@film) do %>
      <%= image_tag "post.svg" %>
      <% end %>
