<%= render "shared/ticker" %>




<div class="back-to-films">
  <%= link_to films_path do %>
  <i class="arrow left"></i>
  <h3>Back to film gallery</h3>
  <% end %>
</div>


<section class="film-show-grid">

    <div class="film-show-img" onclick="toggle();">
  <%= image_tag @film.cover.show.url %>
  </div>

  <div class="film-show-info">
    <span><% if @film.is_top_pick %>
     <%= image_tag "is_featured.svg", :class => "top-pick-show" %>
   <% end %></span>
    <div class="">
      <h2 class="film-title"><%= @film.title %></h2>
      <h6 class="film-author"><%= @film.author %></h6> <span><%= @film.description %></span>
      <p class="film-description"><%= @film.description_body %></p>
    </div>
    <div class="play-button" onclick="toggle();">
      <span> Play </span> <%= image_tag "play.svg", :class => "play-symbol" %>
    </div>
    <div class="preview-button">
      Trailer
    </div>
    <%= link_to new_film_review_path(@film) do %>
    <div class="write-review-button">
      Write a review
    </div>
    <% end %>
  </div>

</section>


              <div class="popupfilm" id="filmPopUp">
                <span class="">
                  <%= video_tag @film.video_url.to_s, :size => "960x540", :controls =>true, :class => "video" %>
                  <span class="close" onclick="toggle();"><%= image_tag "EXIT.svg" %></span>
                </span>
              </div>






<% @film.reviews.order("created_at desc").each do |review| %>


  <div class="review">
      <%= link_to film_review_path(@film, review) do %>
    <h6 class="review-title"><%= review.title %></h6>
    <% end %>

<div class="">
  <% if review.comments.present? %>
  <p class="review-comment-count"><%= pluralize review.comments.count, "Comment" %></p>

  <% else %>
  <p class="review-comment-count">no comments yet</p>
  <% end %>
</div>


    <div class="review-details">
      <p> Rating <%= review.score %> / 5</p>


      <p class="posted">
        <small>Published by

        <%= link_to review.user.username, user_path(review.user) %> <%= time_ago_in_words(review.created_at) %> ago</small>
          </p>

    </div>

  </div>

      <% end %>



                <script type="text/javascript">
                  function toggle() {
                    var popupfilm= document.querySelector(".popupfilm")
                    popupfilm.classList.toggle("active")
                  }

                </script>
