<p>We've received a new submission from <%= @submission.user.name %>! </p>

<h3>Details</h3>
<p><u>Film title</u>: <%= @submission.title %> </p>
<p><u>Year released</u>: <%= @submission.year %> </p>
<p><u>Film length</u>: <%= @submission.film_length %> </p>
<p><u>Film description</u>: <%= @submission.description %></p>
<p><u>Film link</u>: <%= @submission.film_link %> </p>
<p><u>Film pw</u>: <%= @submission.film_pw %> </p>
<p><u>Filmmaker email</u>: <%= @submission.user.email %></p>

<p>Happy viewing!</p>

<p>Cheers,</p>

<p>TimeSink</p>
