<div class="ticker-wrap">
<div class="ticker">
  <div class="ticker__item">A NEW FILM BY RANDY SMORGA IS NOW PLAYING </div>
  <div class="ticker__item">TIMESINK PRESENTS, LIVE: 11pm EST </div>
  <%= link_to new_submission_path do %>
  <div class="ticker__item">SUBMISSIONS ARE NOW OPEN! </div>
      <% end %>
      <div class="ticker__item">KANYE WEST ANNOUNCES NEW ALBUM</div>
      <div class="ticker__item">MOVIE THEATER TICKET SALES CONTINUE TO DECLINE</div>
</div>
</div>




<h3>Forum</h3>

<%= link_to new_forum_post_path do %>
 <%= image_tag "post.svg" %>
 <% end %>


<div class="Forum-Post-Row">
  <% @forum_posts.order("created_at desc").each do |post| %>
    <div class="Forum-Post-Column">
      <div class="Forum-Post">
        <%= link_to forum_post_path(post) do %>
        <%= post.title %>
        <% end %>
      <p>Posted by <%= post.user.username %></p>
    </div>
    <div class="date-post">
      Posted <%= post.created_at.strftime("%e %b %Y") %> 
    </div>
    <% end %>
  </div>
