<p>We just received a new generous donation in the amount of $<%= @donation.amount %> from <%= @donation.name %>!</p>
<% if @donation.note.present? %>
  <p><%= @donation.name %> left this note...</p>
  <p><i>"<%= @donation.note %>"</i></p>
<% end %>
<p>Their email is <%= @donation.email %>...send them a nice follow up thank you note.</p>
