
<%= link_to new_film_review_path(@film) do %>
<div class="write-review-button">
  Write a review
</div>
<% end %>

<% @film.reviews.order("created_at desc").each do |review| %>


  <div class="review">
      <%= link_to film_review_path(@film, review) do %>
    <h6 class="review-title"><%= review.title %></h6>
    <% end %>

<div class="">
  <% if review.comments.present? %>
  <p class="review-comment-count"><%= pluralize review.comments.count, "Comment" %></p>

  <% else %>
  <p class="review-comment-count">no comments yet</p>
  <% end %>
</div>


    <div class="review-details">
      <p> Rating <%= review.score %> / 5</p>


      <p class="posted">
        <small>Published by

        <%= link_to review.user.username, user_path(review.user) %> <%= time_ago_in_words(review.created_at) %> ago</small>
          </p>

    </div>

  </div>

      <% end %>
