<div class="back-to-films">
  <%= link_to film_path(@film) do %>
  <span><%= image_tag "BackArrow1.svg" %> </span> <h3>Back to <%= @film.title %> </h3>
  <% end %>
</div>

<div class="cafe-banner-title">


<span>
<span class="film-title-cafe"><h2 class="film-cafe"><%= @film.title %> café </h2></span>
 <span><%= image_tag "coffee.svg", :class => "coffee-cafe" %></span>
</span>



<span>
<%= link_to new_film_review_path(@film) do %>
<div class="write-review-button">
  Write a review
</div>
<% end %>
</span>

</div>

<% if @film.reviews.present? %>

<% @film.reviews.order(cached_votes_up: :desc, created_at: :desc).each do |review| %>


  <div class="review">
      <%= link_to film_review_path(@film, review) do %>
    <p><%= review.title %> </p>
    <% end %>

<div class="">
  <% if review.comments.present? %>
  <p class="review-comment-count"><%= pluralize review.comments.count, "Comment" %></p>
  <% else %>
  <p class="review-comment-count">no comments yet</p>
  <% end %>
</div>




      <p class="posted">

          <span>By</span>
          <% if review.user.avatar.small.url.present? %>
        <span> <%= image_tag review.user.avatar.small.url, :class => "avatar" %> </span>
        <% end %>
        <span><%= link_to review.user.username, user_path(review.user) %> <%= time_ago_in_words(review.created_at) %> ago </span>
          </p>

    </div>

    <div class="review-index-like">
    <%= link_to like_review_path(review), class: "upvoted {liked_or_not}", method: :put, remote: :true do %>
    <span class="like-image-tag">
   <%= image_tag "Polygon2.svg", :class => "upvote-shape" %>
     <% end %>
     </span>
     <span id="js3-<%= review.id %>">
       <%= review.get_likes.size %>
     </span>

       </div>

      <% end %>

    <% else %>

    <h4>No discussion yet...</h4>

    <% end %>
