


<div class="back-to-films">
  <%= link_to film_path(@film) do %>
  <i class="arrow left"></i>
  <h3>Back to <%= @film.title %> </h3>
  <% end %>
</div>

<section class="review-form">

<%= simple_form_for [@film, @review] do |f| %>
<%= f.input :title %>
<%= f.input :body, :class => "body" %>
<%= f.input :score, :as => :range, :collection => 1..5, item_wrapper_tag: false %>
<%= f.button :submit, "Publish review" %>
<% end %>

</section>
