


<div class="back-to-films">
  <%= link_to film_path(@film) do %>
  <i class="arrow left"></i>
  <h3>Back to <%= @film.title %> </h3>
  <% end %>
</div>

<%= simple_form_for [@film, @review] do |f| %>
<%= f.input :title %>
<%= f.input :body %>
<%= f.input :score, as: :radio_buttons, :collection => 1..5, item_label_class: "radio-inline", item_wrapper_tag: false %>
<%= f.button :submit, "Publish review" %>
<% end %>
