


<div class="back-to-films">
  <%= link_to film_reviews_path(@film) do %>
    <span><%= image_tag "BackArrow1.svg" %> </span><h3>Back to <%= @film.title  %> café </h3>
  <% end %>
</div>

<section class="review-form">

<%= simple_form_for [@film, @review] do |f| %>
<%= f.input :title, :placeholder => "Enter a review title" %>
<%= f.input :body, :class => "body", :placeholder => "Enter your thoughts and ideas..." %>

<%= f.button :submit, "Publish review" %>
<% end %>

</section>
