<div class="back-to-films">
  <%= link_to "#{film_path(@film)}#cafe" do %>
    <span><%= image_tag "BackArrow1.svg" %> </span> 
    <h3>Back to <%= @film.title %> café </h3>
  <% end %>
</div>
<section class="review-content">
  <h3 class="review-title"><%= @review.title %> </h3>
  <div class="review-user">
    <span class="review-avatar">
      <% if @review.user.avatar.present? %>
        <%= image_tag @review.user.avatar.thumbnail.url, :class => "avatar" %>
      <% else %>
        <%= image_tag @review.user.avatar.thumbnail.url, :class => "avatar_small" %>
      <% end %>
    </span>
    <span class="review-user-info">
      <div>
        By <%= link_to @review.user.username, user_path(@review.user) %>
      </div>
      <div>
        <%= @review.created_at.strftime("%b %e, %Y")%>
      </div>
    </span>
    <span class="flex-like-review" style="display: inline-block;">
      <span class="like-action">
        <%= link_to like_review_path(@review), class: "upvoted {liked_or_not}", method: :put, remote: :true do %>
          <%= image_tag "Polygon2.svg", :class => "upvote-shape" %>
        <% end %>
      </span>
      <span class="like_count">
        <%= @review.get_likes.size %>
      </span>
    </span>
  </div>
  <div class="review-body-content">
    <p class="review-body"><%= simple_format @review.body %></p>
  </div>
</section>
<hr style="width: 90%;">
<section class="review-comments-area">
  <% if is_logged_in? %>
    <p><%= render 'comments/form', commentable: @review, comment: Comment.new %></p>
    <%= link_to "Add Comment", new_review_comment_path(@review), remote: true %>
  <% else %>
    <p><%= link_to "Sign in to comment", new_session_path  %></p>
  <% end %>
  <div class="">
    <% if @review.comments.present? %>
      <h5>Comments (<%= @review.comments.count %>) </h5>
    <% else %>
      <h5> No comments yet</h5>
    <% end %>
  </div>
  <div id='comments'>
    <%= render @review.comments %>
  </div>
</section>
