

<div class="back-to-films">
  <%= link_to film_path(@film) do %>
  <i class="arrow left"></i>
  <h3>Back to <%= @film.title %> </h3>
  <% end %>
</div>

<section class="review-content">
  <h3><%= @review.title %></h3>
  <h5> Published by <%= @review.user.username %></h5>
  <p><%= @review.body %></p>
</section>


<% if is_logged_in? %>

<%= simple_form_for [@film, @review, Comment.new] do |f| %>
<%= f.text_area :body, placeholder: "Add a comment" %><br/>
<%= f.submit "Add Comment" %>
<% end %>

<% else %>

<h4> <%= link_to "Sign in to comment", new_session_path %></h4>

<% end %>

<h3>Comments</h3>




<ul>
  <%= render(partial: 'comments/comment', collection: @review.comments) %>
</ul>
