

<div class="back-to-films">
  <%= link_to film_reviews_path(@film) do %>
  <span><%= image_tag "BackArrow1.svg" %> </span> <h3>Back to reviews index </h3>
  <% end %>
</div>

<section class="review-content">
  <div class="">
    <p> Written by <span><%= @review.created_at.strftime("%b %e, %Y")%></span>
        <% if @review.user.avatar.present? %>
        <%= image_tag @review.user.avatar.thumbnail.url, :class => "avatar" %>
        <% end %>
        <u><%= link_to @review.user.username, user_path(@review.user) %></u></p>
  </div>
  <div class="review-body-content">
      <p class="review-body"><%= simple_format @review.body %></p>
  </div>
</section>


<% if is_logged_in? %>

<p><%= render 'comments/form', commentable: @review, comment: Comment.new %></p>
 <%= link_to "Add Comment", new_review_comment_path(@review), remote: true %>

 <% else %>

 <p><%= link_to "Sign in to comment", new_session_path  %></p>

 <% end %>

 <div class="">
   <% if @review.comments.present? %>
   <h5>Comments (<%= @review.comments.count %>) </h5>

   <% else %>
   <h5> No comments yet</h5>
   <% end %>
 </div>


 <div id='comments'>
   <%= render @review.comments %>
 </div>
