

<div class="back-to-films">
  <%= link_to film_reviews_path(@film) do %>
  <span><%= image_tag "BackArrow1.svg" %> </span> <h3>Back to reviews index </h3>
  <% end %>
</div>

<section class="review-content">
  <div class="">
    <h5><%= @review.title %></h5> <span><%= @review.created_at.strftime("%b %e, %Y")%></span>
    <p> Review by
        <% if @review.user.avatar.present? %>
        <%= image_tag @review.user.avatar.thumbnail.url, :class => "avatar" %>
        <% end %>
        <u><%= link_to @review.user.username, user_path(@review.user) %></u></p>
  </div>
  <div class="review-body-content">
      <p class="review-body"><%= simple_format @review.body %></p>
  </div>
</section>


<h3>Comments</h3>

  <%= form_for [@film, @review, Comment.new] do |f| %>
  <%= f.text_area :body, placeholder: "Add a comment" %><br/>
  <%= f.submit "Add Comment" %>
<% end %>
<ul>
  <%= render @review.comments %>
</ul>
