<div class="comment">
  <div class="row">
    <div class="col-sm-2 col-xs-3">
      <%= image_tag @user.avatar.thumbnail.url %>
    </div>
  <div class="col-sm-8 col-xs-7">
    <div class="well">
      <h4><%= nested_comment.user %><span>/<%= nested_comment.created_at.to_time.strftime('%B %e at %l:%M %p') %></span></h4>
        <%= nested_comment.body %>
      </div>
    </div>
    <div class="col-xs-2">
      <%= link_to "Reply", "#{film_path(film.slug,nested_comment_id: nested_comment.id)}#comment" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-11">
      <%= render partial: 'partials/comment2', collection: nested_comment.sub_comments %>
    </div>
  </div>
</div>
