<!DOCTYPE html>
<html>
<head>
  <title>TimeSink</title>
<%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="a cinema and multimedia arts platform">
  <meta name="keywords" content="films, cinema, TimeSink, timesink">
  <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 <script src="youtube.min.js"></script>
   <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

        <script src="https://js.stripe.com/v3/"></script>
  <%= favicon_link_tag asset_path('Group1033.png') %>


<script src="//vjs.zencdn.net/ie8/1.1.1/videojs-ie8.min.js" async></script>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto">
  </head>


  <div class="body">

  <body>

    <div class="content">


<header>

<%= link_to main_app.root_path do %>
  <h1 class="header-logo">TimeSink</h1>
  <% end %>

    <nav>

    <span class="links">
      <%= link_to "Films", main_app.films_path  %>
      <%= link_to "Blog", main_app.blog_posts_path %>
      <%= link_to "Info", main_app.info_path %>
      <%= link_to "Donate", main_app.new_donation_path  %>
    </span>


    <% if is_logged_in? %>

    <% if @current_user.avatar.present? %>

    <span class="dropdown" id="dropdown">
      <%= image_tag @current_user.avatar.small.url, :class => "avatar" %>
      <ul class="dropdown-menu" id="dropdown-menu">
        <li>  <%= link_to "Edit profile", main_app.edit_account_path %></li>
        <li>  <%= link_to "Submissions", main_app.user_submissions_path(@current_user) %> </li>
        <li> <%=  link_to "Log out", main_app.logout_path, method: :delete, :class => 'logout' %> </li>
      </ul>
    </span>

<%= link_to pluralize(Notification.unread_count(@current_user), 'Splash'), main_app.notifications_path, :class => 'notifications' %>


    <div class="menuArea" id="menuArea">
      <input type='checkbox' id='toggle' style="display:none;">
        <label class='toggle-btn toggle-btn__cross' for='toggle'>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </label>
        <nav id="hamburger">
          <ul style="list-style: none;">
            <li><%= link_to "Films", main_app.films_path  %></li>
            <li><%= link_to "Blog", main_app.blog_posts_path %></li>
            <li><%= link_to "Info", main_app.info_path %></li>
            <li><%= link_to "Donate", main_app.new_donation_path %></li>
            <hr>
            <li><%= link_to "Sign in", main_app.new_session_path %></li>
            <li><%= link_to "Submit film", main_app.submit_path %></li>
          </ul>
        </nav>
      </div>


    <% else %>

 <span class="welcome dropdown">
   <%= @current_user.username %>
   <ul class="dropdown-menu" id="dropdown-menu">
     <li>  <%= link_to "Edit profile", main_app.edit_account_path %></li>
     <li>  <%= link_to "Submissions", main_app.user_submissions_path(@current_user) %> </li>
     <li>  <%= link_to "Log out", main_app.session_path, method: :delete %> </li>
   </ul>
 </span>

   <%= link_to pluralize(Notification.unread_count(@current_user), 'Notification'), main_app.notifications_path %>


 <div class="menuArea" id="menuArea">
   <input type='checkbox' id='toggle' style="display:none;">
     <label class='toggle-btn toggle-btn__cross' for='toggle'>
       <div class="bar"></div>
       <div class="bar"></div>
       <div class="bar"></div>
     </label>
     <nav id="hamburger">
       <ul style="list-style: none;">
         <li><%= link_to "Films", main_app.films_path  %></li>
         <li><%= link_to "Blog", main_app.blog_posts_path %></li>
         <li><%= link_to "Info", main_app.info_path %></li>
         <li><%= link_to "Donate", main_app.new_donation_path %></li>
         <hr>
         <li><%= link_to "Sign in", main_app.new_session_path %></li>
         <li><%= link_to "Submit film", main_app.submit_path %></li>
       </ul>
     </nav>
   </div>

 <% end %>


  <button class="button button3">
    <%= link_to "Submit film", main_app.submit_path %>
  </button>

  <% else %>


  <button class="button button1">
    <%= link_to "Sign in", new_session_path %>
  </button>

  <button class="button button2">
    <%= link_to "Submit film", submit_path %>
  </button>

    <div class="menuArea" id="menuArea">
      <input type='checkbox' id='toggle' style="display:none;">
        <label class='toggle-btn toggle-btn__cross' for='toggle'>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </label>
        <nav id="hamburger">
          <ul style="list-style: none;">
            <li><%= link_to "Films", main_app.films_path  %></li>
            <li><%= link_to "Blog", main_app.blog_posts_path %></li>
            <li><%= link_to "Info", main_app.info_path %></li>
            <li><%= link_to "Donate", main_app.new_donation_path %></li>
            <hr>
            <li><%= link_to "Sign in", new_session_path %></li>
            <li><%= link_to "Submit film", submit_path %></li>
          </ul>
        </nav>
      </div>

    <% end %>


          </nav>

    </header>

    <% if flash[:success].present? %>
   <div class="success">
     <%= flash[:success] %>
   </div>
   <% end %>

   <% if flash[:error].present? %>
   <div class="error">
    <%= flash[:error] %>
   </div>
   <% end %>



  <main>
    <%= yield %>
  </main>

</div>


<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>



<script>

  $(function() {
    $('.dropdown').click(function() { // when a .myDiv is clicked
      $('.dropdown').not(this).removeClass('dropdown-active')
      $(this).toggleClass('dropdown-active')
    })
  })

</script>


</body>

  </div>

<footer class="footer">
  <span>© <%= Time.current.year %> TimeSink presents, all rights reserved</span>
  <%= link_to "Terms & conditions", main_app.terms_path %>
  <%= link_to "Privacy policy", main_app.privacy_policy_path %>
  <a href="#">hello@timesinkpresents.com</a>

</footer>
