<!DOCTYPE html>
<html>
  <head>
    <title>Timesink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



    <% if flash[:success].present? %>
   <div class="success">
     <%= flash[:success] %>
   </div>
   <% end %>

   <% if flash[:error].present? %>
   <div class="error">
     <%= flash[:error] %>
   </div>
   <% end %>

    <header>
        <nav>
          <h1>
            <%= link_to root_path do %>
            <%= image_tag "TimeSinklogo.svg" %>
            <% end %>
          </h1>

          <% if is_logged_in? %>
      Welcome <%= @current_user.username %>!
    <%= link_to "Log out", session_path, method: :delete %>

    <% else %>

    <button class="button button1">
      <%= link_to "Sign in", new_session_path %>
    </button>

    <button class="button button2">
      <%= link_to "Create account", new_user_path %>
    </button>

        <% end %>

        <%= link_to "Info", info_path %>
        <%= link_to "Donate", donate_path %>

          </nav>
    </header>

    <main>
      <%= yield %>
    </main>

<footer>
  © 2020 TimeSink Presents
  <%= link_to "Terms", terms_path %>
  <%= link_to "Cookies Policy", cookies_policy_path %>
  <%= link_to "Privacy Policy", "privacy_policy_path" %>

</footer>

  </body>
</html>
